body{
	text-align: center;
	font-family: Helvetica;
background-color: black;
}

#design {

	background-image: url(images/the-flatiron-building.png);
	

}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;

}